<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.listaasistenciakotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".TotalListasGrupo"></activity>
        <activity android:name=".TotalAsistenciasAlumno" />
        <activity android:name=".InfoAlumno" />
        <activity android:name=".ListaGrupo" />
        <activity android:name=".CancelarAsistencia" />
        <activity android:name=".ChecarAsistencia" />
        <activity android:name=".ListaAdmin" />
        <activity android:name=".GenerarLista" />
        <activity android:name=".MenuGrupo" />
        <activity android:name=".Registro" />
        <activity android:name=".MenuProfesor" />
        <activity android:name=".MenuAlumnos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>